{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/templstyle.css' %}">
    <title>Document</title>
    <style>
        img
        {
            height: 400px;
            width: 400px;
            margin-left: 400px;
        }
        h3{
            margin-left: 420px;
            font-weight: 200;
        }
        body
        {
            background-color: beige;
        }
    </style>
</head>
<body>
    <h3>Click on a template to get your Resume Ready</h3>
    <a href="res"><img src="/static/img/template1.png"></a><br><br><br>
    <a href="res2"><img src="/static/img/template2.png"></a><br><br><br>
    <a href="res3"><img src="/static/img/template3.png"></a><br><br><br>
    <a href="res4"><img src="/static/img/template4.png"></a><br><br><br>

</body>
</html>